<header class="page-header">
  <div class="container header-container">
    <a href="./index.html" class="logo">
      <svg class="logo-icon">
        <use href="./img/icons.svg#icon-Logo"></use>
      </svg>

    </a>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a href="" class="navigation-link">Anemone</a></li>
        <li><a href="" class="navigation-link">About us</a></li>
        <li><a href="" class="navigation-link">Store</a></li>
        <li><a href="" class="navigation-link">Delivery</a></li>
        <li><a href="" class="navigation-link">Blog</a></li>
      </ul>
    </nav>
    <a href="" class="contact-link">
      <svg class="contact-icon" width="22" height="22">
        <use href="./img/icons.svg#icon-tel"></use>
      </svg>
    </a>
    <button class="mobile-menu-btn">
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>